<div class="container py-5 new-margin-top">
  <div class="row">
    <div class="">
      <div class="bg-white rounded p-3 shadow">
        <h3>EDIT votre arbre</h3>
     <%= render "form" %>
         <div>
        <%= link_to "Back to home", root_path %>
        </div>
      </div>
    </div>
  </div>
</div>
