<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://res.cloudinary.com/degkqrdcu/image/upload/v1680078151/steven-kamenar-MMJx78V7xS8-unsplash_drxd8z.jpg');">
  <div class="container">
    <h1> Adopt a tree </h1>
  </div>
</div>

<div class="container">
  <div class="row mt-5">
    <% @trees.each do |tree| %>
      <div class="col-4">
        <div class="card-category mt-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path tree.photos.first.key %>')">
          <%= link_to(tree.name, tree_path(tree), style: "color: white; text-decoration: none;") %>
          <div class="card-tags">
              <span><%= tree.price_per_year %> €</span>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row my-5 justify-content-center">
    <div style="display: flex; justify-content: center;">
      <button class="btn btn-primary"><%= link_to("Add a tree", new_tree_path, style: "color: white; text-decoration: none;") %></button>
    </div>
  </div>
</div>
